*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/.gitignore
/app/fabric.properties
/app/proguard-rules.pro
/app/.gitignore
*.jks
/gradle/
